<template>
    <div id="price">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="category"
                         v-for="service_category in services_categories"
                    >
                        <h4 class="font-weight-bolder">{{service_category.title}}</h4>
                        <button class="btn btn-bordered"
                                v-if="service_category.subcategories.length > 0"
                                @click="toggleSubcategory"
                        >
                            <span class="switcher active">Развернуть</span>
                            <span class="switcher">Свернуть</span>
                        </button>
                        <div class="subcategory"
                             v-if="service_category.subcategories.length > 0"
                             v-for="service_subcategory in service_category.subcategories"
                        >
                            <div class="h3 font-weight-bolder">
                                <span class="service-switcher active"
                                      @click="toggleServices"
                                > + </span>
                                <span class="service-switcher"
                                      @click="toggleServices"
                                > - </span>{{ service_subcategory.title }}
                            </div>
                            <div class="service font-weight-bold"
                                 v-if="service_subcategory.services.length > 0"
                                 v-for="service in service_subcategory.services"
                            >
                                <p class="dotted">
                                    <span class="float-left">{{service.title}}</span>
                                    <span class="float-right">{{service.price}}</span>
                                </p>
                                <p>short descr</p>
                                <div class="service-btn">
                                    <button class="btn">Записаться</button>
                                    <button class="btn">Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>

    </div>
</template>
<script>
    // import Sertificates from "../Sertificates";
    export default {

        data(){
            return{
                services_categories: null
            }
        },
        mounted() {
            axios.get('/api/services').then(({data})=>(this.services_categories=data.services));
        },
        methods:{
            toggleSubcategory : function (e) {
                let subcategories = e.target.parentElement.parentElement.querySelectorAll('.subcategory');
                let switchers = e.target.parentElement.querySelectorAll('.switcher');
                this.toggleShow(subcategories);
                this.toggleShow(switchers);
            },
            toggleServices : function (e) {
                let services = e.target.parentElement.parentElement.querySelectorAll('.service');
                let switchers = e.target.parentElement.querySelectorAll('.service-switcher');
                this.toggleShow(services);
                this.toggleShow(switchers);
            },
            toggleShow($collection){
                for (let element of $collection){
                    element.classList.toggle('active');
                }
            }
        }
    }
</script>
<style scoped>
    .btn-bordered {
        margin: 0 auto;
        padding: 5px;
        border: 1px solid black;
    }
    .service, .subcategory, .switcher, .service-switcher{
        display: none;
    }
    .active {
        display: block !important;
    }
    span.service-switcher{
        width: 40px;
        padding: 3px 5px;
        border: 1px solid black;
        text-align: center;
    }
    .dotted:after{
        content:'';
        display: block;;
        overflow: hidden;
        height: 14px;
        border-bottom: 1px dotted #666;
    }
    span.service-switcher:hover{
        cursor: pointer;
    }
</style>
